<section>
  <div class="page-header">
    <div class="h1 ">Members</div>
    <a href="members/create" class="btn btn-success pull-right">Add Member</a>
  </div>
  <div class="list-group">
    <!-- <a data-ng-repeat="member in vm.members"
       data-ui-sref="members.view({ memberId: member._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="member.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="member.user" data-ng-bind="member.user.displayName"></span>
        <span data-ng-if="!member.user">Deleted User</span>
      </small> -->
      <table class="table table-striped table-resizable table-bordered table-hover table-responsive datatable">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Phone #</th>
          <th>course</th>
          <th>View</th>
        </thead>
        <tbody>
          <tr data-ng-repeat="member in vm.members">
            <td data-ng-if="member.user" data-ng-bind="member.name">
            </td>
            <td data-ng-if="member.user" data-ng-bind="member.email"></td>
            <td data-ng-if="member.user" data-ng-bind="member.phone"></td>
            <td data-ng-if="member.user" data-ng-bind="member.course"></td>
            <td><a href="members/{{member._id}}" class="btn btn-info" title="view Member"><i class="glymphicon glyphicon-user"></i></a></td>
          </tr>
        </tbody>
      </table>
      
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.members.$resolved && !vm.members.length">
    No Members yet, why don't you <a data-ui-sref="members.create">create one</a>?
  </div>
</section>
